.splash {
  position: relative;
  width: 100vw;
  height: 100%;
  background-image: url("../../assets/splash-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

.splash-collage {
    width: 45vw;
    height: auto;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about {
  color: whitesmoke;
  animation: transitionIn2 1.5s;
  width: 55vw;

}

.about-title {
  font-size: 3.3vw;
  text-align: center;
}
.about-p {
  font-size: 1.8vw;
  padding: 2rem 0;
  text-align: center;

}


.social-icons {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: flex-end;
    color: white;
    margin-left: auto;
}

.fa-linkedin,
.fa-github {
    color: white;
    font-size: 2rem;
}

.social-network {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .5rem 1rem;
}

.about-links-header {
    color: white;
}
.copyright {
    font-size: .8rem;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translatey(100%);
    scale: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    scale: 1;
  }
}

@keyframes transitionIn2 {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 900px) {
  .splash {
    display: flex;
    flex-direction: column;
    overflow: visible;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  .about {
    /* border: black 2px solid; */
    max-width: 85vw;
    max-height: 50vh;
    margin: 4vh auto 0;
    color: whitesmoke;
    position: unset;
  }

  .about-title {
    font-size: 6vw;
    width: 100%;
  }

  .about-p {
    font-size: 3vw;
    /* padding: 2rem 0; */
    width: 100%;
  }
  .splash-collage {
    /* border: yellow 2px solid; */
    width: auto;
    max-height: 45vh;
    position: unset;
    margin: 0 auto;
  }

  .social-network {
    position: unset;
  }
}
