
.splash {
    position: relative;
    max-height: 93vh;
    overflow: hidden;
}

.splash-collage {
    position: absolute;
    top: 0;
    left: 50%;
    width: 40rem;
    animation: transitionIn 1.5s;
}

.about {
    position: absolute;
    color: whitesmoke;
    top: 10%;
    left: 5%;
    animation: transitionIn2 1.5s;

}


.about-title {
    font-size: 3rem;
    width: 42rem;
    
}

.about-p {
    font-size: 1.4rem;
    padding: 2rem 0;
}

.social-icons {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: flex-end;
    color: white;
}

.fa-linkedin,
.fa-github {
    color: white;
    font-size: 2rem;
}

.social-network {
    position: absolute;
    bottom: 0;
    padding: .5rem 1rem;
}

.about-links-header {
    color: white;
}
.copyright {
    font-size: .8rem;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translatey(100%);
        scale: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
        scale: 1
    }
}

@keyframes transitionIn2 {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

