@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --background-color: #1d2124;
  /* --background-color: #222223; */
  /* --main-pink: #B96872; */
  --main-pink: #f56879;
  --dash-boders: #010101;
  --light-gray: #9e9fa0;
  --dull-white: #e0e0e1;
  --white-background: whitesmoke;
}


body {
  background-color: var(--background-color);
  color: var(--main-pink);
}


.hidden {
  display: none;
}

.single-project-detail-container {
  display: flex;


}

li {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.errors {
  color: red;
  text-align: center;
  font-size: .8rem;
  font-weight: bold;
}

#modal-content {
  position: absolute;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--background-color);
  color: var(--background-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 25rem;
}

label {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 85%;
}

input {
  border: 0.03rem solid var(--main-pink);
  padding: 0.1rem 0.4rem;
  border-radius: 0.2rem;
}

input:focus-visible {
  box-shadow: var(--main-pink) 0.07rem 0.07rem 0.15rem;
  outline: none;

}

.edit-button,
.delete-button {
  opacity: 1;
  background-color: transparent;
  border: none;
  color: var(--white-background);
  font-size: .9rem;
}

.delete-button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}