* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --background-color: #1d2124;
  /* --main-pink: #B96872; */
  --main-pink: #f56879;
  --dash-boders: #010101;
}


body {
  background-color: var(--background-color);
  color: var(--main-pink);
}


.hidden {
  display: none;
}

.single-project-detail-container {
  display: flex;


}

li {
  list-style: none;
}

