.dash-container {
  background-color: var(--background-color);
  color: whitesmoke;
  padding: 0 5rem;
  min-height: 100vh;
  z-index: 0;
  position: relative;
}

.dash-bubbles {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.dash-projects {
  width: 46%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: var(--light-gray) 0rem 0rem .5rem;
  height: 28rem;
  background-color: #ffffff0f;
  color: var(--dull-white);
}

.dash-projects:hover {
  border: .1rem var(--light-gray) solid;

}

.projects-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  padding: 0.7rem 0;
  overflow: scroll;
  width: 100%;
  justify-items: center;
}

.project-container {
  display: flex;
  width: 90%;
  padding: 1rem;
  border-radius: 0.7rem;
  cursor: pointer;
  gap: 0.5rem;
  align-items: center;
  word-break: break-all;

}

.task-container {
  display: flex;
  width: 90%;
  padding: 1rem;
  border-radius: 0.7rem;
  cursor: pointer;
  gap: 0.5rem;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 5rem;

}

.dash-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: var(--dull-white);
}

.dash-title {
  font-size: 3rem;
}

.dash-today {
  font-size: 1rem;
}

.create-project-dash {
  border: none;
  background-color: transparent;
  color: whitesmoke;
  border-radius: 0.7rem;
  cursor: pointer;
  font-size: 1rem;
  width: 90%;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: .6rem;
  opacity: .8;
}

.create-project-dash:hover,
.project-container:hover,
.task-container:hover {
  box-shadow: var(--light-gray) 0rem 0rem 0.3rem;
  opacity: 1;
  color: whitesmoke
}

.project-icon {
  background-color: var(--main-pink);
  color: var(--background-color);
  padding: 0.4rem;
  border-radius: 30%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash-project-menu {
  margin-left: auto;
  position: relative;
}

.fa-solid.fa-plus.home {
  border: whitesmoke dashed .1rem;
  color: whitesmoke;
  padding: .8rem;
  border-radius: 0.7rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash-p-name {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dash-projects-title {
  font-size: 1.7rem;
  text-align: center;
}